# ========================================
# Общий мусор Windows и Visual Studio
# ========================================
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
[Dd]ebug/
[Rr]elease/
[Aa]ny[Cc]pu/

# ========================================
# Сборки (папки bin и obj) — самая важная часть!
# ========================================
[Bb]in/
[Oo]bj/

# ========================================
# Файлы кэша NuGet
# ========================================
packages/
*.nupkg

# ========================================
# Стандартные файлы Visual Studio
# ========================================
*.vssscc
*.vspscc
*.sln.cache
*.userprefs